# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual Environment
venv/
.venv/
env/

# Logs & Cache
*.log
search_history.log

# Temporary & Rendered files
*.html
*.tmp

# User profiles & credentials
*Profile*
GoogleScraperAuthProfile/
.env

# OS
.DS_Store
Thumbs.db
